@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')


*{
    font-family: "Roboto", sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2 linear;
}

html{
    font-size: 62.5;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html ::-webkit-scrollbar{
    width: 10px;
}

html ::-webkit-scrollbar-track{
   background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: #464343;
    border-radius: 1.5rem;
}

body{
    background: #f3f3f5;
    overflow: hidden;
}

section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding: 1.5rem;
    font-size: 2.5rem;
    margin-top: 7rem;
}

.button{
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 1.9rem;
    font-size: 1rem;
    color: #fff;
    background: #d3ad7f;
    cursor: pointer;
}

.button:hover{
    letter-spacing: .2rem;
}

.header{
    background: #010103;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem 7%;
    border-bottom:.1rem solid rgba(255,255,255,.3);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    height: 6rem;
} 

.header .cafe-name{
    display: flex;
    color: rgba(7, 240, 7, 0.97); 
    justify-content: center;
    margin-left: -2rem;
    font-size: 2rem;
}

.header .navbar a{
    margin: 0 1.2rem;
    font-size: 1.0rem;
    color: #f8f3f3;
    
}

.header .navbar a:hover{
    color: #d3ad7f;
    border-bottom: .1rem solid #d3ad7f;
}

#menu-btn{
    display: none;
}

.User-FormCL{
    align-items: center;
    padding-left: 35%;
}

.Form-input{
    display: block;
    align-items: center;
    padding: 15px;
    width: 50%;
}




@media (max-width:768px){
    #menu-btn{
      display: inline-block;
    }
    .header .navbar{
     position: absolute;
     top: 100%; right: 100%;
     background: #fff;
     width: 30rem;
     height: calc(110vh - 9.8rem);
    }

    .header .navbar.active{
        right: 0;
    }
 
    .header .navbar a{
     color: #13131a;
     display: block;
     margin:1.5rem ;
     padding: .5rem;
     font-size: 2rem;
    }

    .User-FormCL{
        align-items: center;
        padding-left: 5%;
    }

    .Form-input{
        align-items: center;
        padding: 15px;
        width: 90%;
    }
    
}